body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*上詰め*/
h1 {
  font-size: 18px;
  margin: 5px 0;
}
.button-area {
  padding: 5px 0;
  margin: 0;
  margin-bottom: 0 !important;
}
.table-container {
  margin-top: 0 !important;
}
.table-container {
  position: relative;
  top: -45px;
}

/*上詰め終わり>*/

button {
    font-size: 12px;
    padding: 10px 15px;
    margin: 2px;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

.table-container {
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid black;
}

td {
    width: 50px;
    height: 20px;
    border: 2px solid black;
    font-size: 12px;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

th {
    width: 120px;
    height: 60px;
    border: 2px solid black;
    font-size: 12px;

    position: sticky;
    top: 60px;
    background-color: white;
    z-index: 10;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

.table-container {
  max-height: none;
  overflow: visible;
  border: 2px solid black;
}

select {
    font-size: 12px;
    width: 40px;
    height: 30px;
    text-align: center;
}

.table-container {
  margin-top: 0;
}

#monthSelect {
    font-size: 15px;
    width: 90px;
    height: 30px;
}

@media print {

    button,
    input,
    select#monthSelect {
        display: none;
    }

    body {
        margin: 0;
    }

    table {
        width: 100%;
    }
}

button {
  margin: 5px;
}

.button-area {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 0;
  z-index: 20;
}
[contenteditable="true"] {
  border-bottom: 1px dotted #999;
  padding: 2px;
}
.guide-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.guide-box {
  min-width: 220px;
}

.guide-box p {
  margin: 3px 0;
}

.operation-guide ul{
  margin-top: 20px;
  text-align: left;
}

.operation-guide ul {
  margin-top: 5px;
  padding-left: 20px;
}

.operation-guide li {
  margin-bottom: 5px;
}